*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:brown;
    font-family: monospace;
}


h1, h2{
    text-align: center;
}

header {
    margin: 50px auto 30px;
}

form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

main {
    margin-top: 50px;
    /* visibility: hidden; */
}

section {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    margin-bottom: 30px;
}

card {
    width: 170px;
    border:  1px solid black;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
}

card img {
    width: 100px;
}
footer {
    background-color:orangered;
    height: 50px;
    /* position: absolute;
    bottom:0; */
    width: 100%;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
}